@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0 ;
    padding: 0;
}
body {
    background-color: #ffffff;
}
html{
    overflow-x: hidden;
}
.open-sidebar{
    display:none;
}
.Sidebar{
    height: 100vh;
    width: 260px;
    background-color: #f6f6f6;
    /* border: 1px solid #E6EFF5; */
    padding: 1rem;
    position: fixed;
}
.Sidebar .top-logo  {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 30px; */
}
.Sidebar .top-logo h3 {
    color: #4c49ed;
    font-weight: bold;
    font-size: 25px;

}
.Sidebar .top-logo img {
    width:50px;
}
.Sidebar .search-container {
    position: relative;
}
.Sidebar .sidebar-search {
    /* border: 1px solid ; */
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
}
.Sidebar .sidebar-search::placeholder {
    font-size: 18px;
}
.Sidebar .search-container span {
    position: absolute;
    top: 40px;
    left: 80%;
    font-size: 19px;
}
.Sidebar ul.language-list {
    height: 70%;
    margin-top: 10%;
    overflow-y: auto;
    padding: 1rem 1.5rem;

}
.Sidebar ul.language-list div {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 300ms;
}
.Sidebar ul.language-list div:hover {
    background-color: #F0F2F5;
}
.Sidebar ul.language-list div:hover  span.icon{
    color: #4c49ed;
}
.Sidebar ul.language-list div:hover span.name {
    font-weight: bold;
}
.Sidebar .close-sidebar {
    display: none;
}
.home-content{
    margin-left: 20%;
}
.home-nav-container .nav-search input {
    width: 90%;
    height: 40px;
    border-radius: 30px;
    background-color: #f6f6f6
    /* border: ; */
;
}
.home-nav-container .nav-icons .mail-icon{

  font-size: 20px;
  border: 1px solid gray;
}
.home-nav-container .nav-button .login {
    border: 1px solid;
    width: 100px ;
    height: 40px;
    border-radius: 10px;
}
.home-nav-container .nav-button .signup {
    background-color: #4c49ed;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

/* post-card */
.posts{
    display: grid ;
    grid-template-columns: repeat(3, .15fr);
    gap: 10px;
   margin: 50px ;
}
.post-card{
    height: auto;
    width: 320px;
    padding: .5rem;
    border-radius: 10px;
    background-color: #f6f6f6;
    margin-top: 10px;
    transition: box-shadow 300ms;
}
.post-card span.username{
    font-weight: bold;
    
}
.post-card .profile img{
    width: 35px;
    background-color: #4c49ed;
    padding: 3px;
    border-radius: 10px;
}
.post-card .img-card{
    height: 130px;
    width: 270px;

    margin-top: 10px;
}
.post-card .img-card img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}
@media screen and (max-width: 700px){
    .home-nav-container{
        display: flex;
        gap: 0;
    }
    .home-content {
        margin-left: 6%;
    }
    .Sidebar{
        display: none;
    }
    .Sidebar.open {
        display: block;
    }
    .Sidebar .top-logo {
        margin-right: 10px;
    }
    .Sidebar .close-sidebar {
        font-size: 30px;
        margin-left: 70px;
        float: left;
        display: block;
    }
    .posts{
        grid-template-columns: repeat(1, .15fr);
        margin: 10px;
    }
    .home-nav-container .nav-search input {
        /* display: none; */
    }
    .home-nav-container .nav-button{
        display: none;
    }
    .home-nav-container .nav-icons{
        gap: 9px;
        margin-right: 12px;
    }
    .open-sidebar{
        display: block;
        font-size: 30px;
        margin-top: 5px;
        margin-right: 15px;
    }
}