@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000;
}
html {
  overflow-x: hidden;
}
.main-content {
  padding: 10px 6vw;
  margin-left: 50px;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabs-row {
  width: 81%;
  margin-left: 12%;
}
.sidebar {
  /* border: 1px solid white;  */
  z-index: 99;
  margin-top: -20px;
}
.navbar-container{
  z-index: 99;
}
.navbar-container .logo h3 {
  font-family: 'Pacifico', cursive;
  
/* color: #; */
}
.mobile-search{
  display: none;
}
.mobile-search-input {
  display: none;
}
.posts {
  /* border: 1px solid white; */
  /* width: 90%; */
  margin-left: 20%;
  overflow-y: auto;
}
.post-card {
  width: 340px;
  height: auto;
  padding-bottom: 10px;
  border: 1px solid gray;
  border-radius: 10px;
}
.post-card .img-card {
  width: 100%;
  height: 180px;
}
.post-card .img-card img {
  height: 100%;
  border-radius: 10px;
  width: 100%;

}
@media screen and (max-width: 700px) {
  .posts {
    margin: 10px;
    display: grid;
    place-items: center;
    padding: 5px;
  }
  .sidebar {
   width: 0;
   border: none;
  }
  .nav-search {
    display: none;
  }
  .main-content {
    margin-left: 0;
    padding: 10px 0 ;
  }
  .tabs-row {
    width: 100%;
    margin-left: 0 ;
  }
  .tabs-row button {
    display: none;
  }
  .tabs-row .tab {
    padding: 5px 10px;
  }
  .mobile-search {
    display: block ;
  }
  .mobile-search-input{
    display: block;
    z-index: 99;
  }
}